span {
    float: left;
}

.stress-track-title {
    font-size: 10pt;
    text-transform: uppercase;
    text-align: right;
    width: auto;
    color: black;
    font-weight: 500;
    font-family: 'Barlow Condensed', sans-serif;
}

.stress-track-title:after {
    clear: both;
    display: block;
}

.title-column {
    margin: 1pt 1pt;
    padding: 3px;
    display: table-cell;
}

.column {
    width: 1.0em;
}

.last-col,
.column {
    margin: 1pt 0.5pt;
    padding: 0;
    display: table-cell;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    position: relative;
    width: 100%;
    display: table-row;
}

.attr-value {
    font-family: 'Gothic A1 Black', sans-serif;
    width: 2.8em;
    margin-left: 1.5pt;
    margin-right: 3pt;
    border-bottom-width: 1.5pt;
    float: left
}

input[type="number"],
input[type="number"]:active,
input[type="number"]:hover,
input[type="number"]:focus {
    border-radius: 0;
    border: 1px solid white;
    border-bottom-color: black;
}