.name-input {
    font-family: 'Barlow Condensed', sans-serif;
    width: 100%;
    border: none;
    color: black;
    font-size: 16pt;
    font-weight: 900;
    height:50%;
    margin-left: 0.5em;
}
.regular-input {
    font-family: 'Barlow Condensed', sans-serif;
    width: 100%;
    border: none;
    color: black;
    font-size: 16pt;
    font-weight: 400;
    height:50%;
    margin-left: 0.5em;
}
.name-label {
    font-family: "Gothic A1 Black", sans-serif;
    text-transform: uppercase;
    ;
}

.logo {
    height: 50px;
    width: 110px;
    margin-right: 0.25in;


}